<div class="settings">
  <div class="form">
    <h2>My Profile</h2>
    <div class="subscription-wrapper">
      <div class="field-list">
        <label>Organisation Name :</label>
        <div class="plan-name">{{name}}</div>
      </div>
      <div class="field-list">
        <label>Email ID :</label>
        <div class="plan-name">{{email}}</div>
      </div>
      <div class="field-list">
        <label>Phone Number :</label>
        <div class="plan-name">{{phone}}</div>
      </div>
    </div>
  </div>
</div>