a{
    color: black;
    white-space: normal;
    &:hover{
        text-decoration: underline;
    }
}

.btns{
    display: flex;
    justify-content: space-between;
}

.two-input{
    input{
         &[type=text]{
            width: 300px;
         }
         &[type=number]{
            width: 150px;
         }
    }
}